
<nav class="navbar navbar-inverse">
   <div class="navbar-header">
      <a class="detalles navbar-brand glyphicon glyphicon-home colornom" href="#"> INICIO</a>
    </div>
    <ul class="nav navbar-nav">
      <li class= "colornom" ><a class="nav-link glyphicon glyphicon-list-alt " routerLink="app-usuarios"> USUARIOS</a></li>
      <li><a class="colornom nav-link glyphicon glyphicon glyphicon-user" routerLink="app-formulario"> FORMULARIO</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="colornom"> Marcela Garcés </li>
    </ul>  
</nav>
<router-outlet></router-outlet>

